body
{
	font-family: 'Raleway', Arial;
}
section 
{
	padding: 1em;
}
section article
{
	margin-bottom: 1em;
	padding: 5px;
}
.btn-size
{
	font-size: 17px;
}
.btn-select
{
	background-color: #ccc;
}
.btn-social
{
	padding: 5px;
}
.black-text
{
	color: black;
}
.black-text:hover
{
	color: black;
}
.fandom-image
{
	height: 50px;
	width: 50px;
}
.fandom-inside-image
{
	border-radius: 50%;
	height: 75px;
	width: 75px;
}
.fandom-panel
{
	position: relative;
}
.fandom-title
{
	font-size: 18px;
	position: absolute;
	right: 6px;
	top: 6px;
}
.fandom-members
{
	font-size: 18px;
	position: absolute;
	right: 6px;
	top: 30px;
}
.fandom-title a
{
	color: black;
	text-decoration: none;
}
.fandom-h1
{
	font-size: 20px;
}
.footer-text
{
	color: #669999;
	font-size: 14px;
	position: relative;
	text-align: center;
	top: 5px;
}
.font1
{
	font-family: 'Arimo', sans-serif;
}
.font2
{
	font-family: 'Crafty Girls', cursive;
}
.font3
{
	font-size: 17px;
	font-family: 'Devonshire', cursive;
}
.font4
{
	font-family: 'Electrolize', sans-serif;
}
.font5
{
	font-family: 'Fanwood Text', serif;
}
.font6
{
	font-family: 'Josefin Sans', sans-serif;
}
.font7 
{
	font-family: 'Julius Sans One', sans-serif;
}
.font8
{
	font-family: 'Kite One', sans-serif;
}
.font9
{
	font-family: 'Over the Rainbow', cursive;
}
.font10
{
	font-family: 'Poiret One', cursive;
}
.font11
{
	font-family: 'Raleway Dots', cursive;
}
.font12
{
	font-family: 'Shadows Into Light', cursive;
}
.font13
{
	font-family: 'The Girl Next Door', cursive;
}
.font14
{
	font-family: 'Walter Turncoat', cursive;
}
.no-link
{
	color: black;
}
.no-border
{
	border: none;
}
.no-link:hover
{
	color: black;
}
.proof
{
	border: 1px solid black;
}
.post
{
	padding: 1em;
}
.post-panel
{
	position: relative;
}
.post-inside-image
{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.post-date
{
	position: absolute;
	right: 6px;
	top: 2px;
}
.profile-img
{
	height: 100%;
	width: 100%;
}
.profile-name
{
	font-size: 23px;
	font-weight: bold;
}
.profile-inside-image
{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.plus-red:hover
{
	color: #FF2D1B;
}
.plus-green:hover
{
	color: #009933;
}
.img-circle
{
	border-radius: 50%;
}
.img-profile-photos
{
	height: 100px;
	width: 100px;
}
.unsandbox-font
{
	font-size: 20px;
}
